body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231006/pngtree-immersive-computer-generated-3d-illustration-exploring-a-vibrant-underwater-coral-landscape-image_13578576.png');
  background-size: cover;
  background-position:center;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #68acc0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #4CAF50; 
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

nav ul li a:hover {
  background-color: #45a049; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}
  
.delete-all {
    margin-top: 20px;
}

.delete-item-btn {
    display: block; 
    margin-top: 10px; 
    align-items: center;
    text-align: center; /* Centraliza o texto do botão */
}